body{ /*This command is for body, This is a selector which helps to style the elements based on their tags.*/
    background: black; /*For background colour of the elements*/
    display: grid;
} /*to close the command for element*/

.cle{ /*These selectors identify what need to be styled basedd on the classes we give to the elements. */
	clear: both; /*It helps to prevent the sections to overlap eachother. */
}

.hamburger{
	display: none;
}
i.fa.fa-bars::before{
	color: white;
	font-size: 40px;
}

nav{ /*this is navigation bar*/
	background: black;
    width: 100%; /*for size of the elements*/
}
#mura{
	display: none;
}
nav ul{ /*a container for li.*/
	background: black;
    padding-left: 0px; /*for padding of the elements*/
}
nav ul li{ /*containers for pages link*/
	display: inline; /*for displaying the elements anyway we want*/
	list-style: none; /*removes the default dot besides the text.*/
	background: black;
	padding-left: 0px;
	padding-right: 15px;
}
nav ul li a { /*this are links for different pages*/
	text-decoration: none;/*removes the default blue color and underline of text containing link.*/
	color: white;
    font-size: 20px; /*adjusts the font size*/
}


header{ /*header section for the body starts here.*/
	background: #333333;
}
header div{
	width: 100%;
	display: flex;
} 
.mylogo{ /*for my logo.*/
    height: 40px; /*adjusts the image size*/
    padding: 6px;
}
.welcome{ /*body section headings*/
	width: 100%;
	color: white;
	text-align: center;
    font-size: 45px;
    padding-left: 450px;
}

.home{ /*this is for the main part of the home*/
	display: flex;
	padding-top: 10px;
    padding-bottom: 150px;
    background: black;
}
.heart{
}
img{
	height: 600px;
    padding-top: 10px;
}
.bio{ /*container for contnr*/
	padding-left: 25px;
    padding-top: 130px;
}
.contnr{ 
	background: black;
    color: white;
}/*here, the main part of home is ended*/

.portfolio{ /*this is for the main part of the portfolio page*/
	width: 100%;
}
main ul li a img{ /*for the placeholder images*/
    width: 90%;
    height: 200px;
    margin-right: auto;/*this code is from  (W3schools, 2021)*/
    margin-left: auto;/*this code is from  (W3schools, 2021)*/
    background: FFFFFF;
    display: block;
} /*here, main part of portfolio page ends.*/

.contact{ /*this is for the main part of the contact page.*/
    width: 100%;
    padding-bottom: 122px;
    background: black;
    display: flex;
}
.cinfo{ /*this is for contact information*/
	width: 50%;
	color: white;
	padding-left: 20px;
	font-size: 30px;}
.fill{ /*for form*/
    color: white;
    width: 30%;
    margin-top: 20px;
    margin-left: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    border: 2px solid white;
}
.ch1{ /*for the heading of form*/
    background-color: white;
    width: 390px;
    animation-name: blink; /*denotes the element which has to be animated*/
    animation-duration: 2s; /*duration of animation*/
    animation-iteration-count: 1000; /*how many times to repeat the animation*/
}
@keyframes blink{ /*for animation named blink*/
	from {background-color: black;} /*changes form this colour to*/
	to {background-color: #333333;} /*changes to this colour from*/
}/*here, main part of contact page style ends.*/

.cv{ /*cv page codes starts form here*/
	color: white;
	display: flex;
	margin-bottom: 25px;
}
.cvleft{
	background:#333333;
	color: white;
	width: 20%;
	padding-bottom: 20px;
}
.cvimg{
    height: 120px;
	border-radius: 300px 300px 300px 300px; 
}
.lup{ 
    list-style: none;
}
.ldown{
    list-style: none;
}
.cvright{
    width: 80%;
    list-style: none;
}
.cvrheader{
    color: white;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid white;
    font-size: 18px;
}
.yama{
	margin-bottom: 0px;
}
.cvtext{
	padding-top: 30px;
	list-style: none;
}

.sitereport{
	color: white;
	text-align: center;
}
.srh{
	margin-bottom: 0px;
}
footer{ /*footer is started here.'*/
	background: black;
	width: 100%;
	display: block;
}
.fmh{ /*text */
    padding-left: 10px;
    color: black;
    width: 130px;
    font-size: 16px;
    animation-name: fmh; 
    animation-duration: 2s; 
    animation-iteration-count: 1000;
}
@keyframes fmh{ 
	from {background-color: black;} 
	to {background-color: white;} 
}
.iicons{ /*container for icons of social medias*/
	display: flex;
    padding-left: 5px;
}
.i1{
	padding-top: 12px;
	font-size: 22px; 
	color: white;
}
.i2{ 
    padding-left: 10px;
    padding-top: 10px;
    font-size:25px;
    color: white; 
}
.i3{
	padding-left: 10px;
    padding-top: 10px;
    font-size:25px;
    color: white;
} 

@media screen and (max-width: 600px){ /*responsive design for the page starts here*/
	nav{ 
		flex-direction: column;
	    padding-bottom: 170px;
	    display: none;
	}
	#mura{ 
		flex-direction: column;
	    display: none;
	}
    i.fa.fa-bars::before{
        font-size: 25px;
    }
	#mura ul { 
		flex-direction: column; 
	}
	#mura ul li {
		width: 81%; 
		padding: 5px; 
		padding-right: 55px; 
	}
	#mura ul li a{
		color: white;
		text-decoration: none;
	}
	.hamburger{
		display: block;
	}
	#bars{
		background: black;
		font-size: 20px;
		border: none;
	}

	.welcome{
        font-size: 16px;
        text-align: center;
        padding-top: 15px;
        padding-left: 7px;
	}

	.home{ 
		flex-direction:column; 
		padding-bottom: 50px;
		order: 1; /*to order which element to show first (up) when responsive view*/
	}
	.heart{ 
		width: 345px; 
	}
	img{
		height: 297px;
	}
	.bio{ 
		width: 350px;
	    order: 2;
	    padding-left: 5px;
	    padding-top: 0px;
	}
	.contnr{
		padding-bottom:5px;
	}
    
    .contact{
    	dispaly: column;
    }
    .cinfo{
    	order: 1;
    }
    .fillup{
    	order: 2;
    }

    footer{
    	order: 3;
    }

